<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <title>users management dummy app</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Users Manager (Developers Edition)</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Search</a></li>
        <li><a href="/user/add">Add</a></li>
      </ul>
    </div>
  </nav>
  <br> {{{body}}}
</body>

</html>